n<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/admin_layout}"
      xmlns:tr="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Admin products</title>
</head>
<body layout:fragment="content">
	<!-- Cart Start -->
	<div class="container-fluid pt-5">
		<div class="pb-4 ml-4">
			<a th:href="@{/admin/products/new}" sec:authorize="hasAuthority('ADMIN')"
			   class="btn-primary text-decoration-none rounded-pill text-uppercase p-2">Add product</a>
		</div>

		<div class="row px-xl-5">
			<div class="table-responsive mb-5">
				<table class="table table-bordered text-center mb-0">
					<thead class="bg-secondary text-dark">
						<!--Edit:-->
						<tr> 
							<th>Photo</th>
							<th>
								<a th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, sortField='id', sortDir=${reverseSortDir})}">
									ID
								</a>
							</th>
							<th>
								<a th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, sortField='name', sortDir=${reverseSortDir})}">
									Name
								</a>
							</th>
							<th>
								<a th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, sortField='price', sortDir=${reverseSortDir})}">
									Price
								</a>
							</th>
							<th>
								<a th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, sortField='sellAmount', sortDir=${reverseSortDir})}">
									Sell amount
								</a>
							</th>
							<th>
								<a th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, sortField='inventory', sortDir=${reverseSortDir})}">
									Inventory
								</a>
							</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="align-middle">
						<tr th:block th:each="product : ${listProduct}">
							<td class="align-middle">
								<img th:src="@{${product.photosImagePath}}" alt="" style="width: 70px;">
							</td>
							<td class="align-middle" th:text="${product.id}"></td>
							<td class="align-middle" th:text="${product.name}"></td>
							<td class="align-middle" th:text="${product.getPriceFormatted()}"></td>
							<td class="align-middle" th:text="${product.sellAmount}"></td>
							<td class="align-middle" th:text="${product.inventory}"></td>
							<td class="align-middle">
								<a  class="btn btn-sm btn-primary p-2" th:href="@{'/admin/products/edit/' + ${product.id}}"
								         sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-edit"></i></a>
								<a class="btn btn-sm btn-primary p-2" th:href="@{'/admin/products/delete/' + ${product.id}}"
								        sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!--   Edit                 Page navigation-->
			<div class="container-fluid p-4" th:unless="${listProduct.isEmpty()}">
				<nav aria-label="Page navigation" th:with="baseUrl=${#request.getRequestURI()}">
					<ul class="pagination justify-content-center mb-3">
						<li class="page-item" th:classappend="${currentPage - 1 == 0 ? 'disabled' : ''}">
							<a class="page-link" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage - 1, 0)}, sortField=${param.sortField}, sortDir=${param.sortDir})}">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${i == currentPage ? 'active' : ''}">
							<a th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${i}, sortField=${param.sortField}, sortDir=${param.sortDir})}" th:text="${i}" class="page-link"></a>
						</li>

						<li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
							<a class="page-link" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage + 1, 0)}, sortField=${param.sortField}, sortDir=${param.sortDir})}" >
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- Cart End -->
</body>
</html>