<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/main_layout}"
>
<head>
	<title>Products</title>
</head>

<body layout:fragment="content">
	<!-- Page Header Start -->
	<div class="container-fluid bg-secondary mb-5">
		<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
			<h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
			<div class="d-inline-flex">
				<p class="m-0"><a th:href="@{/home}">Home</a></p>
				<p class="m-0 px-2">-</p>
				<p class="m-0">Products</p>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Edit:Shop Start --> 
	<div class="container-fluid pt-5">
		<div class="row px-xl-5">
			<!-- Shop Sidebar Start -->
			<div class="col-lg-3 col-md-12">
				<!-- Category Start -->
<!--				<div class="border-bottom mb-4 pb-4">-->
<!--					<a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"-->
<!--					data-toggle="collapse" href="#navbar-vertical"-->
<!--					style="height: 65px; margin-top: -1px; padding: 0 30px;">-->
<!--						<h6 class="m-0">Categories</h6>-->
<!--						<i class="fa fa-angle-down text-dark"></i>-->
<!--					</a>-->
<!--					<nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"-->
<!--						id="navbar-vertical">-->
<!--						<div class="navbar-nav w-100 overflow-hidden" style="height: 410px">-->
<!--							<th:block th:each="category : ${listCategories}">-->
<!--								<a th:href="@{/products/category/{cateId}(cateId=${category.getId()},page=1)}"-->
<!--									class="nav-item nav-link" th:text="${category.getName()}"></a>-->
<!--							</th:block>-->
<!--						</div>-->
<!--					</nav>-->
<!--					<div class="mt-5" sec:authorize="hasAuthority('ADMIN')">-->
<!--						<a th:href="@{/admin/categories/new}" class="btn-primary p-3 rounded-pill text-decoration-none">Add-->
<!--							category</a>-->
<!--					</div>-->
<!--					-->
<!--				</div>-->
				<!-- Category End -->
			</div>
			<!-- Shop Sidebar End -->


			<!-- Shop Product Start -->
			<div class="col-lg-9 col-md-12" th:unless="${productList.isEmpty()}">
				<div class="row pb-3">
					<div class="col-12 pb-1">
						<div class="d-flex align-items-center justify-content-between mb-4">
							<!--                            <form action="">-->
							<!--                                <div class="input-group">-->
							<!--                                    <input type="text" class="form-control" placeholder="Search by name">-->
							<!--                                    <div class="input-group-append">-->
							<!--                                        <span class="input-group-text bg-transparent text-primary">-->
							<!--                                            <i class="fa fa-search"></i>-->
							<!--                                        </span>-->
							<!--                                    </div>-->
							<!--                                </div>-->
							<!--                            </form>-->
							<a th:href="@{/admin/products/new}" sec:authorize="hasAuthority('ADMIN')"
							   class="btn-primary text-decoration-none rounded-pill text-uppercase p-2">Add product</a>
							<div class="dropdown ml-4">
								<button class="btn border dropdown-toggle" type="button" id="triggerId"
								        data-toggle="dropdown" aria-haspopup="true"
								        aria-expanded="false">
									Sort by
								</button>
								<!--Edit-->
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
									<a class="dropdown-item" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, keyword=${param.keyword}, sortField='price', sortDir=${reverseSortDir})}">
										Price 
										<span th:if="${sortField == 'price'}" th:text="${sortDir.equals('asc') ? '↑' : '↓'}"></span>
										<span th:unless="${sortField == 'price'}">↑</span>
									</a>
									
									<a class="dropdown-item" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, keyword=${param.keyword}, sortField='sellAmount', sortDir=${reverseSortDir})}">
										Sell 
										<span th:if="${sortField == 'sellAmount'}" th:text="${sortDir.equals('asc') ? '↑' : '↓'}"></span>
										<span th:unless="${sortField == 'sellAmount'}">↑</span>
									</a>
									
									<a class="dropdown-item" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, keyword=${param.keyword}, sortField='createdAt', sortDir=${reverseSortDir})}">
										Date 
										<span th:if="${sortField == 'createdAt'}" th:text="${sortDir.equals('asc') ? '↑' : '↓'}"></span>
										<span th:unless="${sortField == 'createdAt'}">↑</span>
									</a>
									
									<a class="dropdown-item" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage, 0)}, keyword=${param.keyword}, sortField='ratingPoint', sortDir=${reverseSortDir})}">
										Rating
										<span th:if="${sortField == 'ratingPoint'}" th:text="${sortDir.equals('asc') ? '↑' : '↓'}"></span>
										<span th:unless="${sortField == 'ratingPoint'}">↑</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<th:block th:each="product : ${productList}">
						<div class="col-lg-4 col-md-6 col-sm-12 pb-1">
							<div class="card product-item border-0 mb-4">
								<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
								     style="height: 350px">
									<!--                                    <img class="img-fluid w-100" th:src="@{/img/product-1.jpg}" alt="">-->
									<img class="img-fluid w-100 " th:src="@{${product.getPhotosImagePath()}}" alt="">
								</div>
								<div class="card-body border-left border-right p-0 pt-4 pb-3">
									<div class="mx-auto" style="width: max-content">
										<div class="d-flex">
											<h6 class="text-truncate mb-3 mr-2">Name:</h6>
											<h6 class="text-truncate mb-3" th:text="${product.getName()}"></h6>
										</div>
										<div class="d-flex">
											<h6 class="text-truncate mb-3 mr-2">Category:</h6>
											<h6 class="text-truncate mb-3" th:text="${product.category.name}"></h6>
										</div>
										<div class="d-flex">
											<h6 class="text-truncate mb-3 mr-2">Price:</h6>
											<h6 th:text="${product.getPriceFormatted()}"></h6>
										</div>
									</div>
								</div>
								<div class="card-footer d-flex justify-content-between bg-light border">
									<a th:href="@{'/products/detail/' + ${product.id}}"
									   class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View
										Detail</a>
									<a th:href="@{'/addtowishlist/' + ${product.id}}"
									   class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary mr-1"></i>Add to wishlist</a>
									<form th:action="@{/cart/add}" method="post">
										<input type="hidden" name="productId" th:value="${product.getId()}">
										<input type="hidden" name="page" th:value="${currentPage}">

										<button type="submit" class="btn btn-sm text-dark p-0" th:disabled="${product.getInventory() == 0}"><i
												class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
										</button>
									</form>
									<a th:href="@{'/admin/products/edit/' + ${product.id}}"
									   sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm text-dark p-0"><i
											class="fas fa-edit text-primary mr-1"></i>Edit</a>
									<a th:href="@{'/admin/products/delete/' + ${product.id}}"
									   sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm text-dark p-0"><i
											class="fas fa-trash text-primary mr-1"></i>Delete</a>
								</div>
							</div>
						</div>
					</th:block>

					
					
					<!--                    Page navigation-->
					<div class="col-12 pb-1" th:unless="${productList.isEmpty()}">
						<div>
							&nbsp;
							</div>
						<div>
								Total Items: [[6]] - Page [[${currentPage}]] of [[${totalPages}]]
								&nbsp;
								<!--<span th:each="i: ${#numbers.sequence(1, totalPages)}">
									<a th:if"${i != currentPage}" th:href="@{'/page/' + &{i}}">[[${i}]]</a> &nbsp;&nbsp;
									<span th:unless="${i != currentPage}" th:href="@{'/page/' + &{i}}">[[${i}]]</span> 
									&nbsp;&nbsp;
									</span>-->
						</div>
					
						<nav aria-label="Page navigation" th:with="baseUrl=${#request.getRequestURI()}">
						    <style>
						
						    </style>
						
						    <ul class="pagination justify-content-center mb-3">
						        &nbsp;
						        <li th:if="${currentPage > 1}" class="page-item">
						            <a class="page-link"
						               th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=1, keyword=${param.keyword})}">First</a>
						        </li>
						        <li th:unless="${currentPage > 1}" class="page-item disabled">
						            <span class="page-link">First</span>
						        </li>
						        &nbsp;&nbsp;
						        <li class="page-item" th:classappend="${currentPage - 1 == 0 ? 'disabled' : ''}">
						            <a class="page-link"
						               th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage - 1, 0)}, keyword=${param.keyword}, sortField=${param.sortField}, sortDir=${param.sortDir})}">
						                <span aria-hidden="true">&laquo;</span>
						                <span class="sr-only">Previous</span>
						            </a>
						        </li>
						
						        <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
						            th:classappend="${i == currentPage ? 'active' : ''}">
						            <a class="page-link"
						               th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${i}, keyword=${param.keyword}, sortField=${param.sortField}, sortDir=${param.sortDir})}" th:text="${i}"></a>
						        </li>
						
						        <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
						            <a class="page-link"
						               th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage + 1, 0)}, keyword=${param.keyword}, sortField=${param.sortField}, sortDir=${param.sortDir})}">
						                <span aria-hidden="true">&raquo;</span>
						                <span class="sr-only">Next</span>
						            </a>
						        </li>
						
						        &nbsp;
						        <li th:if="${currentPage < totalPages}" class="page-item">
						            <a class="page-link"
						               th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${totalPages}, keyword=${param.keyword})}">Last</a>
						        </li>
						        <li th:if="${currentPage == totalPages}" class="page-item disabled">
						            <span class="page-link">Last</span>
						        </li>
						        &nbsp;
						    </ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Shop Product End -->
		</div>
	</div>
	<!-- Shop End -->
</body>

</html>