<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/admin_layout}"
>
<head>
	<meta charset="UTF-8">
	<title>Admin products</title>
</head>
<body layout:fragment="content">
	<!-- Cart Start -->
	<div class="container-fluid pt-5">

		<div class="row px-xl-5">
			<div class="table-responsive mb-5">
				<table class="table table-bordered text-center mb-0">
					<thead class="bg-secondary text-dark">
						<tr>
							<th>Photo</th>
							<th>ID</th>
							<th>Email</th>
							<th>Name</th>
							<th>Birth date</th>
							<th>Country</th>
							<th>Gender</th>
							<th>Phone</th>
							<th>AuthProvider</th>
							<th>Roles</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="align-middle">
						<tr th:block th:each="user : ${listUser}">
							<td class="align-middle">
								<img th:if="${user.getAuthProvider().name() == 'DATABASE'}" th:src="${user.getPhotosImagePath()}" class="rounded-circle mx-2" alt=""
								     width="50" height="50">
								<img th:unless="${user.getAuthProvider().name() == 'DATABASE'}" th:src="@{${user.getPhotos()}}" class="rounded-circle mx-2" alt=""
								     width="50" height="50">
							</td>
							<td class="align-middle" th:text="${user.id}"></td>
							<td class="align-middle" th:text="${user.getEmail()}"></td>
							<td class="align-middle" th:text="${user.getFullName()}"></td>
							<td class="align-middle" th:text="${#dates.format(user.birthDate, 'dd-MM-yyyy')}"></td>
							<td class="align-middle" th:text="${user.country}"></td>
							<td class="align-middle" th:text="${user.gender}"></td>
							<td class="align-middle" th:text="${user.phone}"></td>
							<td class="align-middle" th:text="${user.authProvider}"></td>
							<td class="align-middle" th:text="${user.roles}"></td>

							<td class="align-middle">
								<a  class="btn btn-sm btn-primary p-2" th:href="@{'/admin/users/edit/' + ${user.id}}"
								         sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-edit"></i></a>
								<a class="btn btn-sm btn-primary p-2" th:href="@{'/admin/users/delete/' + ${user.id}}"
								        sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!--                    Page navigation-->
			<div class="container-fluid p-4" th:unless="${listUser.isEmpty()}">
				<nav aria-label="Page navigation" th:with="baseUrl=${#request.getRequestURI()}">
					<ul class="pagination justify-content-center mb-3">
						<li class="page-item" th:classappend="${currentPage - 1 == 0 ? 'disabled' : ''}">
							<a class="page-link" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage - 1, 0)})}">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${i == currentPage ? 'active' : ''}">
							<a th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${i})}" th:text="${i}" class="page-link"></a>
						</li>

						<li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
							<a class="page-link" th:href="@{{baseUrl}(baseUrl=${baseUrl}, page=${#numbers.formatInteger(currentPage + 1, 0)})}" >
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- Cart End -->
</body>
</html>