<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/admin_layout}"
>
<head>
	<meta charset="UTF-8">
	<title>Admin products</title>
</head>
<body layout:fragment="content">
	<!-- Cart Start -->
	<div class="container-fluid pt-5">

		<div class="row px-xl-5">
			<div class="table-responsive mb-5">
				<table class="table table-bordered text-center mb-0">
					<thead class="bg-secondary text-dark">
						<tr>
							<th>Photo</th>
							<th>ID</th>
							<th>Email</th>
							<th>Name</th>
							<th>Birth date</th>
							<th>Country</th>
							<th>Gender</th>
							<th>Phone</th>
							<th>Roles</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="align-middle">
						<tr th:block th:each="user : ${listUser}">
							<td class="align-middle">
								<img th:src="@{${user.photosImagePath}}" alt="User photo" style="width: 70px;">
							</td>
							<td class="align-middle" th:text="${user.id}"></td>
							<td class="align-middle" th:text="${user.getEmail()}"></td>
							<td class="align-middle" th:text="${user.getFullName()}"></td>
							<td class="align-middle" th:text="${#dates.format(user.birthDate, 'dd-MM-yyyy')}"></td>
							<td class="align-middle" th:text="${user.country}"></td>
							<td class="align-middle" th:text="${user.gender}"></td>
							<td class="align-middle" th:text="${user.phone}"></td>
							<td class="align-middle" th:text="${user.roles}"></td>

							<td class="align-middle">
								<a  class="btn btn-sm btn-primary p-2" th:href="@{'/admin/users/edit/' + ${user.id}}"
								         sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-edit"></i></a>
								<a class="btn btn-sm btn-primary p-2" th:href="@{'/admin/users/delete/' + ${user.id}}"
								        sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Cart End -->
</body>
</html>