<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/main_layout}"
>

<head>
	<title>Cart page</title>
</head>

<body layout:fragment="content">
	<div th:if="${param.error}" class="alert alert-danger">
		Không đủ số lượng
	</div>
	<!-- Cart Start -->
	<div class="container-fluid pt-5">
		<div class="row px-xl-5">
			<div class="col-lg-8 table-responsive mb-5">
				<table class="table table-bordered text-center mb-0">
					<thead class="bg-secondary text-dark">
					<tr>
						<th>Photo</th>
						<th>Products</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total</th>
						<th>Remove</th>
					</tr>
					</thead>
					<tbody class="align-middle">
					<tr th:block th:each="cartItem : ${cartItemList}">
						<td class="align-middle">
							<img th:src="@{${cartItem.getProduct().getPhotosImagePath()}}" alt="" style="width: 70px;">
						</td>
						<td class="align-middle" th:text="${cartItem.product.getName()}"></td>
						<td class="align-middle" th:text="${cartItem.getProduct().getPriceFormatted()}"></td>
						<td class="align-middle">
							<form th:action="@{/cart/update}" method="post" class="d-flex">
								<input type="hidden" name="cartItemId" th:value="${cartItem.getId()}">
								<input type="text" class="form-control bg-secondary text-center"
								       th:value="${cartItem.getQuantity()}" name="quantity">
								<button type="submit" class="btn btn-outline-primary ml-2">Sửa</button>
							</form>

						</td>
						<td class="align-middle">
							<p class="total-item-price" th:text="${cartItem.getPriceFormatted()}"></p>
						</td>
						<td class="align-middle">
							<a th:href="@{/cart/delete/{id}(id=${cartItem.getId()})}" class="btn btn-sm btn-primary"><i
									class="fa fa-times"></i></a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-4">
				<form class="mb-5" action="">
					<div class="input-group">
						<input type="text" class="form-control p-4" placeholder="Coupon Code">
						<div class="input-group-append">
							<button class="btn btn-primary">Apply Coupon</button>
						</div>
					</div>
				</form>
				<div class="card border-secondary mb-5">
					<div class="card-header bg-secondary border-0">
						<h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
					</div>
					<div class="card-body">
						<div class="d-flex justify-content-between mb-3 pt-1">
							<h6 class="font-weight-medium">Subtotal</h6>
							<h6 class="font-weight-medium" th:text="${total}"></h6>
						</div>
						<div class="d-flex justify-content-between">
							<h6 class="font-weight-medium">Shipping</h6>
							<h6 class="font-weight-medium">0</h6>
						</div>
					</div>
					<div class="card-footer border-secondary bg-transparent">
						<div class="d-flex justify-content-between mt-2">
							<h5 class="font-weight-bold">Total</h5>
							<h5 class="font-weight-bold" th:text="${total}"></h5>
						</div>
						<a th:href="@{/checkout}" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Cart End -->

</body>

</html>