<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/main_layout}">
<head>
<title>Message Page</title>
</head>
<body layout:fragment="content">
	<div class="container-fluid bg-secondary mb-5">
		<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
			<h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
			<div class="d-inline-flex">
				<p class="m-0"><a href="">Home</a></p>
				<p class="m-0 px-2">-</p>
				<p class="m-0">Contact</p>
			</div>
		</div>
	</div>
	
	<div class="text-center">
		<p>Cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi sẽ trả lời bạn nhanh nhất có thể!</p>
	</div>
</body>
</html>